<!DOCTYPE html>

<html>  
    <head>
        <title>Grace Sobrinski</title>
        <!-- bootstrap -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <!-- fonts & css -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Yeseva+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="static/style.css">

        <script src="https://kit.fontawesome.com/b227e69a23.js" crossorigin="anonymous"></script>

    </head>

    <body>
        <!-- header -->
        <div class="topNav">
            <h2>Grace Sobrinski</h2>
            <div class=links-container>
                <a href="https://www.linkedin.com/in/gsobrinski" target="_blank"><i class="fab fa-linkedin fa-2x" data-toggle="tooltip" data-placement="bottom" title="LinkedIn"></i>&nbsp;</a>
                <a href="https://github.com/gsobrinski" target="_blank"><i class="fab fa-github fa-2x" data-toggle="tooltip" data-placement="bottom" title="GitHub"></i>&nbsp;</a>

            </div>
        </div>

        <!-- content -->
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-3">
                  <div class="bio-container profile">

                    <img src="static/graceweb.jpg" alt="profilepic">

                    <h2>I'm Grace!</h2>
                    <p>Currently studying Computer Science at Temple University. 
                        In search of a full-time position. 
                        Obsessed with web development, cooking, and Minecraft.
                    </p>
                    <div class="links-container smooth-scroll">
                        <a href="#about"><i class="fa fa-user"></i>&nbsp;About</a>
                        <a href="#projects"><i class="fas fa-code fa-lg"></i>&nbsp;Projects</a>
                        <a href="#skills"><i class="fa fa-book fa-lg"></i>&nbsp;Skills</a>
                        <a href="#resume"><i class="fa fa-file fa-lg"></i>&nbsp;Resume</a>
                    </div>
                  </div>

              </div>

            <div class="col-md-9">
                    <div class="bio-container" id="about">
                        <h2>about me</h2>
                        <div class="row">
                            <div class="col-md-4">
                                <h3>looking for:</h3>
                                <p class="about">A full time position beginning Summer or Fall 2021. I'm looking for any junior developer position, whether it's software or web apps.
                                    Front-end design is what I enjoy most, but I have experience with full-stack development, so I'm comfortable with writing a back-end or
                                    managing a database. My favorite languages to write in are C and Python, but I have plenty of experience with Java and JavaScript as well.
                                </p>
                            </div>
                            <div class="col-md-4">
                                <h3>currently working on:</h3>
                                <p class="about">
                                    Teaching myself ReAct <br>
                                    Creating spritesheets for a friend's game <br>
                                    Perfecting making spaghetti from scratch
                                </p>
                                <h3>likes:</h3>
                                <p class="about">Python, C, historical fiction, desserts, and Battlestar Galactica.</p>
                            </div>
                            <div class="col-md-4">
                                <p>
                                    <img src="static/meandbo2.jpg" alt="alternatepic" class="alternatepic">
                                </p>
                            </div>
                            
                        </div>
                    </div>
                    <div class="bio-container" id="projects">
                        <h2>projects</h2>
                        <div class="container">
                            <div class="row">
                                <div class="col card-container">
                                    <div class="card-flip">
                                        <div class="card front">
                                            <img src="static/projects/recipebook.png" alt="recipebook-desktop" class="desktopimage">
                                            <img src="static/projects/recipebookmobile.png" alt="recipebook-mobile" class="mobileimage">
                                        </div>
                                        <div class=" card back">
                                            <!-- card back content -->
                                            <h2>Recipe Book</h2>
                                            <div class="row">
                                                <div class="col-md-3 carousel-div">
                                                    <p class="project-desc">
                                                        My first real foray into web development. This was a semester long project in which we were 
                                                        allowed to choose any topic for our website. This website was created using HTML, CSS, JavaScript,
                                                        Java, and JSP. It utilizes a MySQL database. Through this project I learned about JavaScript, Ajax calls, 
                                                        session objects, and so much more. You can view it <a href="http://cis-linux2.temple.edu:8080/FA20_3308_tuk01723" target="_blank">here!</a>
                                                    </p>
                                                </div>
                                                <div class="col-md-9">
                                                    <div id="recipepics" class="carousel slide" data-ride="carousel">

                                                        <ul class="carousel-indicators">
                                                          <li data-target="#recipepics" data-slide-to="0" class="active"></li>
                                                          <li data-target="#recipepics" data-slide-to="1"></li>
                                                          <li data-target="#recipepics" data-slide-to="2"></li>
                                                        </ul>
                                                      
                                                        <div class="carousel-inner">
                                                          <div class="carousel-item active">
                                                            <img src="static/projects/recipebook1.png" alt="Los Angeles">
                                                          </div>
                                                          <div class="carousel-item">
                                                            <img src="static/projects/recipebook2.png" alt="Chicago">
                                                          </div>
                                                          <div class="carousel-item">
                                                            <img src="static/projects/recipebook3.png" alt="New York">
                                                          </div>
                                                        </div>
                                                      
                                                        <a class="carousel-control-prev" href="#recipepics" data-slide="prev">
                                                          <span class="carousel-control-prev-icon"></span>
                                                        </a>
                                                        <a class="carousel-control-next" href="#recipepics" data-slide="next">
                                                          <span class="carousel-control-next-icon"></span>
                                                        </a>
                                                      
                                                      </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col card-container">
                                    <div class="card-flip">
                                        <div class="card front">
                                            <img src="static/projects/signin.png" alt="signin app desktop" class="desktopimage">
                                            <img src="static/projects/signinmobile.png" alt="signin app mobile" class="mobileimage">

                                        </div>
                                        <div class=" card back">
                                            <!-- card content -->
                                            <h2>Sign In Application</h2>
                                            <div class="row">
                                                <div class="col-md-3 carousel-div">
                                                    <p>
                                                        My final project for my senior Software Design course.  This was the first project in which I independently built
                                                        a web app from start to finish without any guidance. I hosted this on a Raspberry Pi Zero. This web app has a 
                                                        Flask backend, HTML & CSS frontend, and SQLite database. Graphing is done via Plotly.
                                                    </p>
                                                </div>
                                                <div class="col-md-9">
                                                    <div id="signinpics" class="carousel slide" data-ride="carousel">

                                                        <ul class="carousel-indicators">
                                                          <li data-target="#signinpics" data-slide-to="0" class="active"></li>
                                                          <li data-target="#signinpics" data-slide-to="1"></li>
                                                          <li data-target="#signinpics" data-slide-to="2"></li>
                                                        </ul>
                                                      
                                                        <div class="carousel-inner">
                                                          <div class="carousel-item active">
                                                            <img src="static/projects/signin1.png" alt="Settings">
                                                          </div>
                                                          <div class="carousel-item">
                                                            <img src="static/projects/signin2.png" alt="Data">
                                                          </div>
                                                          <div class="carousel-item">
                                                            <img src="static/projects/signin3.png" alt="Graphing">
                                                          </div>
                                                        </div>
                                                      
                                                        <a class="carousel-control-prev" href="#signinpics" data-slide="prev">
                                                          <span class="carousel-control-prev-icon"></span>
                                                        </a>
                                                        <a class="carousel-control-next" href="#signinpics" data-slide="next">
                                                          <span class="carousel-control-next-icon"></span>
                                                        </a>
                                                      
                                                      </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bio-container" id="skills">
                        <h2>courses & skills</h2>
                        <div class="row">
                            <div class="col-md-4">
                                <h2>languages</h2>
                                <ul>
                                    <li>Python</li>
                                    <li>C</li>
                                    <li>Java</li>
                                    <li>JavaScript</li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <h2>skills</h2>
                                <ul>
                                    <li>HTML</li>
                                    <li>CSS</li>
                                    <li>Bootstrap</li>
                                    <li>MySQL</li>
                                    <li>SQLite</li>
                                    <li>Ajax</li>
                                    <li>Flask/Jinja</li>
                                    <li>Axure</li>
                                    <li>Git</li>
                                    <li>Linux</li>
                                    <li>Windows</li>
                                    <li>Unit Testing</li>
                                    <li>JUnit</li>
                                    <li>Object Oriented Programming</li>
                                    <li>Bash Scripting</li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <h2>courses</h2>
                                <ul>
                                    <li>Software Design</li>
                                    <li>Web Application Programming</li>
                                    <li>User Experience Design</li>
                                    <li>Data Structures & Algorithms</li>
                                    <li>Intro Systems Prog & Oper Sys</li>
                                    <li>Math Concepts in Computing II</li>
                                    <li>Comp Sys & Low-Level Programming</li>
                                    <li>Computational Prob & Stat</li>
                                    <li>Data Structures</li>
                                    <li>Math Concepts in Computing I</li>
                                    <li>Gen Physics</li>
                                    <li>Calculus II</li>
                                    <li>Calculus I</li>
                                    <li>Program Design and Abstraction</li>
                                </ul>
                            </div>
                        </div>
                    <div class="bio-container resume" id="resume">
                        <h2>resume</h2>
                        <a href="static/grace_sobrinski_resume.pdf" class="btn btn-info" role="button" target="_blank">Click here!</a>
                    </div>
            </div>
        </div>

        <script>
            $(document).ready(function(){
                $('[data-toggle="tooltip"]').tooltip();   
            });
        </script>

    </body>
</html>